# Dependencies
node_modules

# Build outputs
dist
build
.next
out

# Environment variables
.env
.env.*
!.env.example
!.env.docker

# System
.DS_Store
Thumbs.db

# IDEs
.idea
.vscode
*.swp
*.swo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Turbo
.turbo

# Docker
postgres_data
redis_data
minio_data
